body
{
    background-color: rgb(162, 255, 101);
}
h1
{
 color: darkcyan;
 background-color: cornsilk;
}
#sketch
{
    float:right;
}
p
{
    font-size: 25px;
    padding-top: 10px;
}
canvas
{
    margin-top: 100px;
    border-radius: 20px;
    border: 5px solid white;
    animation-name: dog;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes dog
{
    from{box-shadow: 1px 1px 38px rgb(255, 54, 54);}
    to{box-shadow: 1px 1px 38px rgb(173, 248, 22);}
}